{% extends 'VenuAdminBundle::base.html.twig' %}

{% block body %}
<div class="page-header">
    <h1>Create Post</h1>
</div>

<div>
{{ form_errors(form) }}
</div>

<form action="{{ path('VenuAdminBundle_blog_create') }}" method="post" {{ form_enctype(form) }} class="blogger">
    {{ form_widget(form) }}
    <p>
        <input type="submit" value="Submit">
    </p>
</form>
{% endblock %}

{% block javascript %}
{{ tinymce_init() }}{% endblock %}
   